<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		">
		
		
<!-- Enabling Transaction Manager -->
<tx:annotation-driven/>

	<!-- Bean for DataSource by using child class DriverManagerDataSource -->
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="ds">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/springorm"/>
		<property name="username" value="root"/>
		<property name="password" value="1234"/>
	</bean>
	
	<!-- Bean for SessionFactory by using child class LocalSessionFactoryBean -->
	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="sessionFactory">
		<!-- dataSource -->
		<property name="dataSource" ref="ds"/>
		
		<!-- Hibernate Properties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		
		<!-- Annotated Classes -->
		<property name="annotatedClasses">
			<list>
				<value>com.springorm.springorm.entity.Student</value>
			</list>
		</property>
	</bean>
	
	<!-- Bean for HibernateTemplate class -->
	<bean 
		class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="hibernateTemplate" p:sessionFactory-ref="sessionFactory" 
	/>

	<!-- Bean for StudentDao by using child class StudentDaoImpl -->
	<bean 
		class="com.springorm.springorm.dao.StudentDaoImpl"
		name="studentDaoImpl" p:hibernateTemplate-ref="hibernateTemplate" 
	/>
		
	<bean 
		class="com.springorm.springorm.entity.Student" 
		name="student" 
		scope="prototype"
	/>
	<bean 
		class="org.springframework.orm.hibernate5.HibernateTransactionManager" 
		name="transactionManager" 
		p:sessionFactory-ref="sessionFactory"
	/>

</beans>